@model AvaliacaoTecninca.Models.Utilizador
@{
    ViewBag.Title = "Viva Estética";
 
}

    <div class="login-form">
        <p class="text-danger">@Html.ValidationMessageFor(model => model.ErrorMessage)</p>
        @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
        {
            <h2 class="text-center">Clínica Viva Estética | Log in</h2>
            <div class="form-group">
                @Html.EditorFor(model => model.Username, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @placeholder = "Usename"

                    }
                })
                <p class="text-danger">@Html.ValidationMessageFor(model => model.Username)</p>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @placeholder = "Password"
                    }
                })
                <p class="text-danger">@Html.ValidationMessageFor(model => model.Password)</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>

        }
    </div>
@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}